table, tr, td {
    border: 1px solid;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

.name {
    border-top: 2px solid black;
}

.name,
.planets,
.last-planet {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.last-planet {
    border-bottom: 2px solid black;
}

